# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
.aider*
.cache/
.DS_Store
.netlify
node_modules
public/
src/styles/tailwind.css
static/admin/*.bundle.*
